.virthualenv
.project
.hsproject
SourceGraph
*.hs.orig
*.hs-old
*.old.hs
install*.sh
einstall*.sh
expdoc.sh
gendoc.sh
/others
/.hg*
/AERN*
/hcar-*
/ghc*
/eexec
/Makefile
/package-dependencies.*
/logo
/eclipse-workspace*
/overview.txt
/[0-9][0-9]-aern-*
/aern-todo.txt
/aern-log.txt
/aern-*/dist
/aern-*/.dist-buildwrapper
/aern-*/bin
/aern-*/doc
/aern-*/*.haddock
/aern-double/20101229-2219
2011-summer-project.txt
/aern-poly/figs
/aern-poly/old
/aern-poly/old-logs
/aern-ivp/demos/old
/aern-ivp/*.log
/aern-ivp/cmd
/aern-ivp/plots
/aern-ivp/roessler-logs
/aern-ivp/FnView.glade
/aern-poly-plot-gtk/FnView.glade
/aern-poly-plot-gtk/demos/FnView.glade
